*{-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;

        }

body,html{width:100%,height:100%;margin:0;-webkit-user-select:none;border:0;}
body{
  color:white;
  font-family:Roboto Condensed;
  font-size:18px;
  overflow:hidden;
}
#wrapper{
  display:none;
  width:100%;
  height:100%;
  overflow:hidden;
  position:fixed;
  z-index:1000;
  }

  h1{
    font-family:Rajdhani;
    font-size:52px;
    text-align:right;
    text-transform: uppercase;
    padding: 0 40px;
    margin: 0;
    display:inline-block;
    vertical-align:top;
  }
  h1 em{
    font-style: normal;
    background-color: rgba(0,35,93,0.82);
    height: 1.12em;
    padding: 0px 13px;
    display: inline-block;
  }
  .content{
    padding:75px;
    background-color:rgba(0,35,93,0.82);
    -webkit-transition: all 2s;
    text-align: justify;
    display:inline-block;
  }
  .content strong{
    font-size:26px;
    font-weight:bold;
    text-transform:uppercase;
    font-family:Rajdhani;
  }
  .main{
    position:relative;
  }
  .main .content{
    left:100px;
    bottom:100px;
    width:50%;
      position:absolute;
  }
  section{
      position:relative;
  }
  #content section{
    position:relative;
  }
  .technology section,.workspace section, #workspace section{
    right:0;
    top:400px;
    text-align: right;
    white-space: normal;
  }
  .technology section{
    top:490px;
  }
  .technology .content,#technology .content{
    width:400px;
  }
  .workspace .content,#workspace .content{
    width:525px;
  }
  .workspace .navigation .arrow{
    position:absolute;
    margin-top:200px;
  }
  .workspace .navigation .arrow.left{
    left:0;
  }
  .workspace .navigation .arrow.right{
    right:0;
    left:inherit;
  }
  .careers section{
    top:175px;
    left:210px;
    width:400px;
  }
  .careers section h1{
    font-weight:normal;
  }
  .location section{
    position: absolute;
    z-index:998;
    display: block;

    left: 270px;
    width:563px;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .location section img{
    display:block;
  }
  .location section .content{
    width:100%;
    padding:55px;
  }
  .location section .content div{
    color:#9eb6de;
  }
  .location .logo-locaction h1{
    padding:0;
    font-weight:normal;

  }
  .logo{
    text-align:center;
    height:230px;
  background: url(images/logo_bg.png) top center/cover no-repeat;
  -webkit-transition: all 2s;
  transition: all 2s;
  }
  .logo-locaction{
    width:100%;
    height:230px;
    background: url(images/logo_bg.png) top center/cover no-repeat;
  -webkit-transition: all 2s;
  transition: all 2s;
    padding: 146px 330px 0;
  }
  .logo img{
    position:relative;
    top:calc(50% - 75px)
  }
.footer{
    width:100%;
    padding:47px;
    color:#9eb6de;
    text-align:right;
  background: url(images/footer_bg.png) center/cover no-repeat;
  height:100px;
  -webkit-transition: all 2s;
  transition: all 2s;
  }
  #bg{position:absolute;  -webkit-transition: all 1s;transition: all 1s;}
  #bg, #bg > div,.gallery > div{
    width:100%;height:100%;
  }

  .gallery{
    height: 100%;
    position: absolute;
    width: 100%;
    white-space: nowrap;

  }
  .gallery > div{
        vertical-align: top;
    display:inline-block;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  #p1{
      background: url(images/photo-workspace1.png) center/cover no-repeat;
  }
  #p2{
      background: url(images/photo-workspace2.png) center/cover no-repeat;
  }
  #p3{
      background: url(images/photo-workspace3.png) center/cover no-repeat;
  }
  #p4{
      background: url(images/photo-workspace4.png) center/cover no-repeat;
  }

  #bg .start{
    background: url(images/photo-main.png) center/cover no-repeat;
  }
  #bg .main{
    background: url(images/photo-main.png) center/cover no-repeat;
  }
  #bg .technology{
    background: url(images/photo-technologies.png) center/cover no-repeat;
  }
  #bg .workspace{
    background: url(images/photo-workspace.png) center/cover no-repeat;
  }
  #bg .careers{
    background: url(images/photo-careers.png) center/cover no-repeat;
  }
  .loader div{
    background: rgba(0,35,93,0.82);

  }
  #mapContainer{
    height:640px;width:100%;
  }
.loader{
  width:100%;height:100%;position:fixed;
    background: url(images/photo-loader.jpg) center/cover no-repeat;
  color:white;text-align:center;
}
.loader > div{
  width:100%;height:100%;
}
.start .arrow{
  bottom: 0;
}
.arrow{
  position:absolute;
  left:calc(50% - 50px);
  background-color:rgba(0,35,93,0.82);
  width:100px;
  height:100px;
  z-index:999;
  -webkit-transition: all 2s;
  cursor:pointer;
}
.arrow img{
  padding: calc(50% - 13px) calc(50% - 25px);

}
.arrow.white{
  background-color:rgba(255,255,255,0.12);
}
.arrow.right{
  transform: rotate(90deg);
}
.arrow.left {
  transform: rotate(270deg);
}
.arrow.down{
  transform: rotate(180deg);
}
.navigation .arrow.disabled{
  opacity:0.5;
  cursor:default;
}

.menu{
  z-index:999;
  width:100%;
  position:absolute;
  z-index.:999;
  font-family: Rajdhani;
  font-size:22px;
  display:block;text-align:center;list-style:none;padding:0;margin:0;
  background-color:rgba(0,35,93,0.90);
  height:100px;
  color:white;
  text-transform:uppercase;

}
.menu.white{
  background-color:rgba(255,255,255,0.60);
  color:rgb(0,35,93);
  top:230px;

}
.fixed{
  position:fixed;
}
.menu.white li:hover{
  background-color:rgba(0,35,93,0.20);
}
.menu li.start{display:none;}
.menu li{
  display:inline-block;
  padding:36px;
  cursor:pointer;
  height:100%;
}
.menu li:hover{
  background-color:rgba(255,255,255,0.04);
}
.menu li.active{
  background-color:rgba(255,255,255,0.13);
}

#content{display:none;position:absolute;height:100%;}
#content > div{
  height:100%;
}
.loader img{position:relative;top: calc(50% - 103px);}

/* gmaps */
#infoWindow p{
	margin: 0;
	font-size:15px;
	font-weight:400;
}
#infoWindow h4{
	font-size:15px;
	font-weight:bold;
	margin-top:0;
}
.gm-style > div:first-child > div:nth-child(3) > div > div > div > div{
	display:none;
}
#infoWindow{
	background-color:#0d132d;
	color:#f8f8ff;
	padding:20px;
	position:relative;
	  margin-bottom: 14px;
}
#infoWindow:after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 137px;
  border-top: 14px solid #0d132d;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
}

/* google maps related end*/
/* erecruter fix */
.skk_container,.skk_offers td:first-child,.skk_offers {
  background:none!important;
}
.skk_row_even, .skk_row_odd{
  background-color:rgba(78,81,80,0.27)!important;
  display:block;
  margin-bottom:3px;
}
.skk_row_even:hover, .skk_row_odd:hover{
  background-color:rgba(78,81,80,0.47)!important;
}
